body{

  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;

}

/*Estilos Globales*/

.contenedor{
  width: 80%;
  margin: auto;
overflow: hidden;
}

ul{
margin: 0;
padding: 0;
}

.boton1{

  height: 40px;
  background-color: #e8491d;
  border: 0;
  color: #FFFFFF;
  padding-left: 20px;
  padding-left: 20px;

}

/*Encabezado*/

header{

  background-color: #24282b;
  color: #FFFFFF;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 5px solid #1293d4;

}

header a{

  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{

  display: inline;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;

}

header #marca{
  float: left;
}

header #marca h1{
  margin: 0;
}

header nav{

  float: right;
  margin-top: 10px;

}

header .resaltado{
  color: #1293d4;
  font-weight: bold;

}

header .actual a{

  color: #1293d4;
  font-weight: bold;

}

header a:hover{
  color: #CCCCCC;
  font-weight: bold;

}

/*cabecera*/

#cabecera{

  min-height: 400px;
  background: url(../img/cabecera.jpg) no-repeat;
  background-position: 0 -400px;
  text-align: center;
  color: #FFFFFF;

}

#cabecera h1{

  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 100px;

}

#cabecera p{
  font-size: 25px;

}

/*formuario*/

#boletin{
  padding: 15px;
  color: #FFFFFF;
  background-color: #24282b;

}

#boletin h1{
  float: left;

}

#boletin input[type="email"]{

  height: 25px;
  width: 250px;
  padding: 5px;

}

#boletin form{
  float: right;
  margin-top: 15px;

}

/*cajas*/

#cajas .caja{

  float: left;
  text-align: center;
  width: 30%;
  margin-top: 20px;

}

#margin .caja img{
  width: 100px;

}

footer{

  color: #FFFFFF;
  background-color: #1293d4;
  text-align: center;
  padding: 20px;

}



Mensaje
Editor de texto
